<!DOCTYPE html>
<html lang="en">
<head>
    <title>Simple landing page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @Styles.Render("~/Content/vendors/owl-carousel/css/owl.carousel.min.css")
    @Styles.Render("~/Content/vendors/owl-carousel/css/owl.theme.default.css")
    @Styles.Render("~/Content/vendors/mdi/css/materialdesignicons.min.css")
    @Styles.Render("~/Content/vendors/aos/css/aos.css")
    @Styles.Render("~/Content/css/styleLandingPage.css")
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>

    @Styles.Render("~/Content/bootstrap-select.css")

</head>
<body id="body" data-spy="scroll" data-target=".navbar" data-offset="100">
    <header id="header-section">
        <nav class="navbar navbar-expand-lg pl-3 pl-sm-0" id="navbar">
            <div class="container">
                <div class="navbar-brand-wrapper d-flex w-100">
                    <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574344224/images/LandingPage/Group2_rizanm.svg" alt="">
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="mdi mdi-menu navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse navbar-menu-wrapper" id="navbarSupportedContent">
                    <ul class="navbar-nav align-items-lg-center align-items-start ml-auto">
                        <li class="d-flex align-items-center justify-content-between pl-4 pl-lg-0">
                            <div class="navbar-collapse-logo">
                                <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574344224/images/LandingPage/Group2_rizanm.svg" alt="">
                            </div>
                            <button class="navbar-toggler close-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="mdi mdi-close navbar-toggler-icon pl-5"></span>
                            </button>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#header-section">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#features-section">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#digital-marketing-section">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#feedback-section">Testimonials</a>
                        </li>
                        <li class="nav-item btn-contact-us pl-4 pl-lg-0">
                            <button class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Contact Us</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="banner">
        <div class="container">
            <h1 class="font-weight-semibold">Search engine optimisation &<br>Marketing.</h1>
            <h6 class="font-weight-normal text-muted pb-3">Simple is a simple template with a creative design that solves all your marketing and SEO queries.</h6>
            @*<div>
                <button class="btn btn-opacity-light mr-1">Get started</button>
                <button class="btn btn-opacity-success ml-1">Learn more</button>
            </div>
            <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574344222/images/LandingPage/Group171_jouszd.svg" alt="" class="img-fluid">*@
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        @using (Html.BeginForm("Search", "HomePage", FormMethod.Get,
                            new { role = "search", id = "AdvanceSearchFormProduct" }))
                        {
                            <div class="row">
                                <div class="col-sm-6 col-md-12 mb-md-3">
                                    <div class="form-group mb-lg-0">
                                        <input id="advanceName" value="@ViewBag.advanceName" name="advanceName"
                                               type="text" class="form-control" aria-label="Name"/>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group mb-lg-0">
                                        @* ReSharper disable once Html.IdNotResolved *@
                                        @*<select class="form-control  selectpicker form-selectpicker search-option-select"
                                        id="advanceBrand" name="advanceBrand">
                                </select>*@
                                        @Html.DropDownList("advanceBrand", new SelectList(ViewBag.brandsList, "Id", "Name"),
                                            new { @class = "form-control  selectpicker form-selectpicker search-option-select", id = "advanceBrand"})
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group mb-lg-0">
                                        <select class="form-control selectpicker form-selectpicker search-option-select"
                                                id="advancePriceFrom" name="advancePriceFrom" aria-label="Price from">
                                            <option value="0">$0</option>
                                            <option value="10">$10</option>
                                            <option value="50">$50</option>
                                            <option value="100">$100</option>
                                            <option value="500">$500</option>
                                            <option value="1000">$1000</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-4">
                                    <div class="form-group mb-lg-0">
                                        <select class="form-control selectpicker form-selectpicker search-option-select"
                                                id="advancePriceTo" name="advancePriceTo"  aria-label="Price to">
                                            <option value="0">-----</option>
                                            <option value="10000">$10000</option>
                                            <option value="1000">$1000</option>
                                            <option value="500">$500</option>
                                            <option value="100">$100</option>
                                            <option value="50">$50</option>
                                            <option value="10">$10</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-6 my-auto text-left">
                                    <div class="form-check form-check-flat form-check-primary text-small mb-lg-0">
                                        <label for="advanceCheck" class="form-check-label">
                                            <input name="advanceCheck" id="advanceCheck"
                                                   type="checkbox" class="form-check-input">
                                            Combine search
                                        </label>
                                        @Html.Hidden("advanceCheckValue", 0, new { id = "advanceCheckValue" })
                                    </div>
                                </div>
                                <div class="col-sm-6 mt-3 text-right">
                                    <input type="submit" class="btn btn-primary btn-sm" value="Search" />
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="container">
            @RenderBody()
            <section class="contact-us" id="contact-section">
                <div class="contact-us-bgimage grid-margin">
                    <div class="pb-4">
                        <h4 class="px-3 px-md-0 m-0" data-aos="fade-down">Do you have any projects?</h4>
                        <h4 class="pt-1" data-aos="fade-down">Contact us</h4>
                    </div>
                    <div data-aos="fade-up">
                        <button class="btn btn-rounded btn-outline-danger">Contact us</button>
                    </div>
                </div>
            </section>
            <section class="contact-details" id="contact-details-section">
                <div class="row text-center text-md-left">
                    <div class="col-12 col-md-6 col-lg-3 grid-margin">
                        <img src="https://res.cloudinary.com/senbonzakura/image/upload/v1574344224/images/LandingPage/Group2_rizanm.svg" alt="" class="pb-2">
                        <div class="pt-2">
                            <p class="text-muted m-0">mikayla_beer@feil.name</p>
                            <p class="text-muted m-0">906-179-8309</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 grid-margin">
                        <h5 class="pb-2">Get in Touch</h5>
                        <p class="text-muted">Don’t miss any updates of our new templates and extensions.!</p>
                        <form>
                            <input type="text" class="form-control" id="Email" placeholder="Email id">
                        </form>
                        <div class="pt-3">
                            <button class="btn btn-dark">Subscribe</button>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 grid-margin">
                        <h5 class="pb-2">Our Guidelines</h5>
                        <a href="#"><p class="m-0 pb-2">Terms</p></a>
                        <a href="#"><p class="m-0 pt-1 pb-2">Privacy policy</p></a>
                        <a href="#"><p class="m-0 pt-1 pb-2">Cookie Policy</p></a>
                        <a href="#"><p class="m-0 pt-1">Discover</p></a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 grid-margin">
                        <h5 class="pb-2">Our address</h5>
                        <p class="text-muted">518 Schmeler Neck<br>Bartlett. Illinois</p>
                        <div class="d-flex justify-content-center justify-content-md-start">
                            <a href="#"><span class="mdi mdi-facebook"></span></a>
                            <a href="#"><span class="mdi mdi-twitter"></span></a>
                            <a href="#"><span class="mdi mdi-instagram"></span></a>
                            <a href="#"><span class="mdi mdi-linkedin"></span></a>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="border-top">
                <p class="text-center text-muted pt-4">Copyright © 2019<a href="https://www.bootstrapdash.com/" class="px-1">Bootstrapdash.</a>All rights reserved.</p>
            </footer>
            <!-- Modal for Contact - us Button -->
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/root-script-home")

    @Scripts.Render("~/bundles/bootstrap-select-js")

</body>
</html>